/* HEADER STYLING START */

/* nav bar header style */
.nav-bar-header {
  background-color: hsl(0, 0%, 3%);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.nav-bar-header li {
  display: inline-block;
}

/* search bar */
.header-search-bar {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 15px;
  margin-left: 10px;
  transition: all 0.5s;
  background-color: transparent;
  position: relative;
  z-index: 1;
  color: ghostwhite;
}

.header-search-bar:hover {
  width: 240px;
  padding-left: 30px;
}

.search-container {
  position: relative;
  flex: 0 0 250px;
}

.search-container i {
  color: ghostwhite;
  position: absolute;
  top: 10px;
  left: 19px;
  z-index: 0;
}

/* logo */

.logo {
  flex: 1 0 auto;
  text-align: center;
}

.logo img {
  width: 125px;
  height: auto;
}


/* Dropdown Button */
.dropbtn-1,
.dropbtn-2,
.connect-btn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-1,
.dropdown-2,
.connect-btn {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-1,
.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #39a9db;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-1 a,
.dropdown-content-2 a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-1 a:hover,
.dropdown-content-2 a:hover {
  background-color: #1c77c3;
}

/* Show the dropdown menu on hover */
.dropdown-1:hover .dropdown-content-1,
.dropdown-2:hover .dropdown-content-2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-1:hover .dropbtn-1,
.dropdown-2:hover .dropbtn-2 {
  background-color: #40bcd8;
  cursor: default;
}

.connect-btn:hover {
  color: white;
  background: #40bcd8;
}

@media only screen and (max-width: 720px) {
  .header-search-bar {
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .search-container i {
    top: 7px;
    left: 16px;
    font-size: 10px;
  }

  .header-search-bar:hover {
    width: 150px;
  }

  .search-container {
    flex: 0 0 auto;
    margin: 5px;
  }

  .logo img {
    width: 95px;
  }

  .dropbtn-1,
  .dropbtn-2,
  .connect-btn,
  .dropdown-content-1 a,
  .dropdown-content-2 a {
    padding: 4px;
    font-size: 12px;
  }

  .dropdown-content-1,
  .dropdown-content-2 {
    min-width: 100px
  }
}

/* HEADER STYLING FINISH */







/* Header Code for images*/
.Front-images img {
  width: 33%;
  /*image width*/
  float: left;
  /*image position*/
}

/* Footer settings */
footer {
  border-top: solid 3px rgb(20, 20, 20);
  background-color: rgb(156, 154, 149);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}