/* HEADER STYLING START */

/* nav bar header style */
.nav-bar-header {
  background-color: hsl(0, 0%, 3%);
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: 'Noto Serif', serif;
}

.nav-bar-header li {
  display: inline-block;
}

/* search bar */
.header-search-bar {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 15px;
  margin-left: 10px;
  transition: all 0.5s;
  background-color: transparent;
  position: relative;
  z-index: 1;
  color: ghostwhite;
}

.header-search-bar:hover {
  width: 240px;
  padding-left: 30px;
}

.search-container {
  position: relative;
  flex: 0 0 250px;
}

.search-container i {
  color: ghostwhite;
  position: absolute;
  top: 10px;
  left: 19px;
  z-index: 0;
}

/* logo */

.logo {
  flex: 1 0 auto;
  text-align: center;
}

.logo img {
  width: 125px;
  height: auto;
}


/* Dropdown Button */
.dropbtn-1,
.dropbtn-2,
.connect-btn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-1,
.dropdown-2,
.connect-btn {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-1,
.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #7a1aa3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-1 a,
.dropdown-content-2 a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-1 a:hover,
.dropdown-content-2 a:hover {
  background-color: #5a1179;
}

/* Show the dropdown menu on hover */
.dropdown-1:hover .dropdown-content-1,
.dropdown-2:hover .dropdown-content-2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-1:hover .dropbtn-1,
.dropdown-2:hover .dropbtn-2 {
  background-color: #a835d9;
  cursor: default;
}

.connect-btn:hover {
  color: white;
  background: #a835d9;
}

/* HEADER STYLING FINISH */

/* HERO HEADER STYLING START */

.hero-header {
  background-color: #000000;
  background-image: linear-gradient(to bottom, transparent, #000000), url("images/fox-hero-header-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-header h1 {
  color: ghostwhite;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 65px;
  padding: 100px 80px 200px 50px;
}

#keyWord {
  color: #e84e1b;
}

.card-container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.card-scroll {
  width: 400px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-scroll img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  object-position: top;
}

.card-scroll p {
  font-family: 'Noto Serif', serif;
  color: rgb(136, 136, 136);
}

h2 {
  font-family: 'Noto Serif', serif;
  color: ghostwhite;
  font-size: 28px;
}

.genre-cards {
  background-color: #000000;
}

.icon-style {
  background-color: ghostwhite;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  font-size: 80px;
}

.icon-style:hover {
  color: #e84e1b;
}



::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255); 
}

::-webkit-scrollbar-thumb:horizontal{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}


.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7a1aa3;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 30px;
  border-left: 1px solid;
  display: block;
  height: 200px;
  text-align: right;
}


/* HERO HEADER STYLING FINISH */


/* RANDOM BUTTON AND ABOUT SECTION START */

.randomCont {
  background-image: url(images/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 480px;
  display: flex;
  padding-top: 100px;
  padding-left: 400px;
  justify-content: center;
}

.randomCont a {
  display:block;
  text-decoration: none;
  width:400px;
  height:80px;
  text-align:center;
  background-color: #e84e1b;
  color: #000000;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 50px;
  border: 3px solid #020202;
}

.randomCont a:hover {
  color: ghostwhite;
  border: 3px solid #ffffff;
}

.about-1 {
  padding: 50px 0px 10px 50px;
  width: 700px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 65%;
}

.about-2 {
  padding: 0px 20px;
  width: auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 35%;
}

.tiktok-embed {
  height: 578px;
  width: 325px!important;
}

.about-us-section h3 {
  font-family: 'Noto Serif', serif;
  color: #e84e1b;
  font-size: 28px;
  font-weight: 700;
}

.about-subhead {
  font-size: 20px;
  color:#d18c75; 
}

#featured-link {
  text-decoration: none;
  color: #7a1aa3;
}

#featured-link:hover {
  color: ghostwhite;
}

.featured-pick {
  text-align: center;
  padding: 10px;
  border: 3px solid #7a1aa3;
}

.about-us-section {
  display: flex;
  background-color: hsl(0, 0%, 3%);
  color:#ce6c4c; 
  font-family: 'Noto Serif', serif;
  padding: 10px 0px;
}


/* TV PAGE START */

h3 {
  font-family: 'Noto Serif', serif;
  color: #e84e1b;
  font-size: 28px;
}

h4 {
  font-family: 'Noto Serif', serif;
  color: #e84e1b;
  font-size: 36px;
}

.aboutSection {
  background-color: hsl(0, 0%, 3%);
  color:#ce6c4c; 
  font-size: 16px;
  align-items: center;
  font-family: 'Noto Serif', serif;
  border: 10px solid #020202
}

/* Header for sub pages  */

.hero-header-Media {
  background-color: #000000;
  background-image: linear-gradient(to bottom, transparent, #000000), url("images/fox-hero-header-2.jpg");
  background-size: cover;
  background-position: center;
}

#SubPageKeyWord {
  color: #e84e1b;
}

/* Sub Page Links */
.aboutSection a{
  color:#7a1aa3
}

.aboutSection a:hover {
  background-color: #5a1179;
  color: ghostwhite;
}

/*  Code for sub page images*/
.Sub_Page_Images
    img {
        width: 33%; /*image width*/
        float: left; /*image position*/
        }


/* TV PAGE FINISH */


/* FOOTER STYLING START */

.footer {
  background: #404042;
  border: none;
}

.footer-middle {
  display: flex;
}

.footer-logo {
  text-align: center;
  padding-top: 7px;
}

.footer-logo img {
  width: 125px;
  height: auto;
}

.follow-socials {
  text-align: left;
  flex: 1 0 auto;
  padding-left: 15px;
  padding-bottom: 8px;
}

.footer p {
  font-size: 18px;
  font-weight: 400;
  color: ghostwhite;
  font-family: 'Noto Serif', serif;
}

.social-icons a {
  text-decoration: none;
  color: #e84e1b;
  font-size: 22px;
}

.subscribe-section {
  text-align: right;
  flex: 1 0 auto;
  padding-right: 15px;
  padding-bottom: 8px;
}

.copyright {
  text-align: center;
  background-color: #2a2a2a;
  color: ghostwhite;
  padding: 10px;
}

#sub-email {
  width: 200px;
  background-color:rgb(188, 188, 188);
  font-weight: 500;
}

#sub-name {
  width: 200px;
  background-color:rgb(188, 188, 188);
  font-weight: 500;
}

.subscribe-submit {
  background-color: #e84e1b;
  border: none;
  border-radius: 10px;
  color: ghostwhite;
  padding: 2px 10px 2px 10px;
  margin-top: 8px;
}

.social-icons a:hover {
  color: #b13d16;
}

.subscribe-submit:hover {
  background-color: #b13d16;
}

/* FOOTER STYLING FINISH */


/* connect page styling start */

.connect-cont {
  display: flex;
}

.video-cont {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
}

.connect-video {
  height: 100%;
  transform: translate(-50%, 0);
}

.connect-form {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 60%;
  text-align: center;
  font-family: 'Noto Serif', serif;
  padding: 50px 0px;
  background-color: #000000;
  color: ghostwhite;
}

.connect-form h1 {
  font-size: 70px;
  color: #e84e1b;
}

.connect-form p {
  font-size: 20px;
  color: #ce6c4c;
}

#media-title {
  text-decoration: underline;
}

#submit-btn {
  background-color: #e84e1b;
  border: none;
  border-radius: 10px;
  color: ghostwhite;
  padding: 2px 10px 2px 10px;
  margin-top: 8px;
}

#submit-btn:hover {
  background-color: #b13d16;
}

#thank-you-submit {
  color: ghostwhite;
  font-size: 25px;
  display: none;
}

#form-1, #form-2, #form-3 {
  display: none;
}

#error-msg {
  color: red;
  display: none;
}

.error-field {
  color: red;
}

/* connect page styling finish */


/* Responsiveness */

@media only screen and (max-width: 720px) {
  .header-search-bar {
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .search-container i {
    top: 7px;
    left: 16px;
    font-size: 10px;
  }

  .header-search-bar:hover {
    width: 150px;
  }

  .search-container {
    flex: 0 0 auto;
    margin: 5px;
  }

  .logo img {
    width: 95px;
  }

  .dropbtn-1,
  .dropbtn-2,
  .connect-btn,
  .dropdown-content-1 a,
  .dropdown-content-2 a {
    padding: 4px;
    font-size: 12px;
  }

  .dropdown-content-1,
  .dropdown-content-2 {
    min-width: 100px
  }

  .footer-middle {
    flex-direction: column;
  }
  .follow-socials, .subscribe-section {
    text-align: center;
    padding: 0;
  }

  .subscribe-form {
    margin-bottom: 10px;
  }

  .hero-header h1 {
    font-size: 30px;
  }

  .randomCont {
    padding: 50px 0px;
    background-position-x: -130px;
  }

  .randomCont a {
    font-size: 30px;
    width: 250px;
    height: 50px;
  }

  .about-us-section {
    display: block;
  }

  .about-1 {
    width: auto;
    padding: 10px;
  }

  .tiktok-embed {
    height: auto;
    width: 325px!important;
  }

  .video-cont {
    display: none;
  }

  .connect-form {
    padding: 10px 0px;
  }

  .connect-form h1 {
    font-size: 50px;
  }

  #description {
    max-width: 300px;
  }

}

